.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px;
  font-family: 'Inter', sans-serif;
}

.form {
  color: var(--color-text);
  width: 100%;
  max-width: 380px;
  padding: 24px;
  border-radius: 16px;
  background: var(--color-loginform);
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.2);
  min-height: 680px;
  position: relative;
  transition: box-shadow 2s ease-out;
}

.form:focus-within {
  box-shadow:
    0 10px 28px rgba(25, 56, 75, 0.4);
}

.container img {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.title {
  background: var(--gradient-title);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0 0 8px 0;
  font-size: 2rem;
  text-align: center;
}

.enterP {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 0 0 20px 0;
  opacity: 0.4;
  color: var(--color-text-2)
}

.label {
  text-align: left;
  font-size: 14px;
  color: var(--color-text-2);
}

.inputGroup {
  display: grid;
  gap: 12px;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.inputGroup label {
  display: grid;
  gap: 6px;
}

.emailInput,
.passwordInput {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-background);
  outline: none;
  box-sizing: border-box;
  opacity: 0.5;
  color: var(--color-text-2);
}

.emailInput:focus,
.passwordInput:focus {
  border-color: #999999;
  color: white;
}

.error {
  margin: 0 0 12px 0;
  font-size: 14px;
}

.button {
  font-family: 'Space Grotesk', sans-serif;
  width: 100%;
  padding: 12px 14px;
  border: 0.5px solid var(--navbar-text);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.2rem;
  background: var(--navbar-glass);
  color: var(--navbar-text);
}

.divider {
  width: 100%;
  height: 0.5px;
  background: var(--color-background);
  margin: 40px 0;
}

.link {
  cursor: pointer;
  font-weight: 300;
  color: var(--navbar-text);
}

.container p {
  text-align: center;
  color: var(--color-text-2);
  font-family: 'Space Grotesk', sans-serif;
}
