.eventsDiv{
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 2px solid var(--color-primary);
  color: var(--color-background);
  margin: var(--spacing-md);
}
.eventsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
    width: 100%;
}

.past {
  color: grey;
  opacity: 0.6;
}

.filterList{
  display: inline-block;
  width: fit-content;
  margin-left: var(--spacing-md);
}

.newEventButton{
    background-color: var(--color-primary);
    border: none;
    display: flex;
    justify-content: center;
}

.popupText{
  text-align: center;
}