.formDiv{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin: var(--spacing-md);
    padding: var(--spacing-md);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-md);
}

.newEventButton{
    background-color: var(--color-primary);
    border: none;
    display: flex;
    justify-content: center;
}