.formDiv{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin: var(--spacing-md);
    padding: var(--spacing-md);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-md);
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form h2{
    display: flex;
    justify-content: center;
}

.form textarea {
    padding: 0.3rem;
    border-radius: var(--radius-md);
}


.startTime{
    display: flex;
}

.endTime{
    display: flex;
}