.content {
    margin-top: 14rem;
    text-align: center;
}

.content img {
    height: 200px;
    margin-bottom: 4rem;
    animation: spin 18s linear infinite;
    filter: drop-shadow(0 1px 4px var(--navbar-text));
}

.content button {
    margin-top: 4rem;
    background: var(--navbar-text);
    color: black;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}